# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/
.env/

# IDE/editor directories and files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs
*.log
